nav {
    width: 100%;
    border-radius: 8px;
    margin-top: 2rem;
}

body {
    background-color: white;
}

.search {
    display: inline;
    width: 10rem;
    margin-right: 1rem;
}

.search-refresh {
    text-align: right;
    margin: 1rem 0;
}

.navbar-brand {
    margin: 0;
    padding: 1rem 1rem;
    background-color: #2779f5;
    color: white;
    border-radius: 8px;
    font-size: medium;
}

.welcome {
    margin-right: 1rem;
}

.btn-close {
    padding: 0;
    margin-right: 12px;
}
.btn-close span{
    font-size: 26px;
}
.modal-title{
    margin:auto auto auto 1rem;
}
h2{
    text-align: center;
}
.hidden{
    display: none;
}
